* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    background-color: rgb(190, 182, 197);

    display: flex;

    align-items: center;

    justify-content: space-around;

    padding: 20px;

    background-color: teal;

    color: #fff;

}

.nav-links a {
    color: wheat;
}

.logo {
    font-size: 20px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 15px;
}

.menu li:hover {
    background-color: rgb(71, 161, 48);
    border-radius: 10px;
}

.menu li {
    padding: 5px 14px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
}

.product-image {
    width: 20%;
    border: solid grey;
    display: flex;

}

/* items styling*/

.main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 8%;
}

.title {
    font-size: 90px;
    margin: 4rem 0 2rem 0;
}

.product-grid-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}







@media (max-width:780px) {
    .menu {
        display: none;

        position: absolute;

        background-color: teal;

        right: 0;

        left: 0;

        text-align: center;

        padding: 16px 0;
    }

    .menu li:hover {

        display: inline-block;

        background-color: #4c9e9e;

        transition: 0.3s ease;

    }

    input[type=checkbox]:checked~.menu {

        display: block;

    }

    .hamburger {

        display: block;

    }

}