* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    background-color: rgb(190, 182, 197);

    display: flex;

    align-items: center;

    justify-content: space-around;

    padding: 20px;

    background-color: teal;

    color: #fff;

}

.nav-links a {
    color: wheat;
}

.logo {
    font-size: 20px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 15px;
}

.menu li:hover {
    background-color: rgb(71, 161, 48);
    border-radius: 10px;
}

.menu li {
    padding: 5px 14px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
}

.product-image {
    width: 20%;
    border: solid grey;
    display: flex;

}

*/ @media (max-width:780px) {
    .menu {
        display: none;

        position: absolute;

        background-color: teal;

        right: 0;

        left: 0;

        text-align: center;

        padding: 16px 0;
    }

    .menu li:hover {

        display: inline-block;

        background-color: #4c9e9e;

        transition: 0.3s ease;

    }

    input[type=checkbox]:checked~.menu {

        display: block;

    }

    .hamburger {

        display: block;

    }

}

/* items styling*/

.product-grid-container {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
}

@media(max-width:1000px) {
    .product-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:780px) {
    .product-grid-container {
        grid-template-columns: 1fr;
    }
}

.prodcut-container {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.prodcut-container>.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.prodcut-container>.price {
    font-style: italic;
}

.product-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}