* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 20px;

    background-color: teal;

    color: #fff;
    margin-bottom: 2%;

}

.nav-links a {
    color: wheat;
}

.logo {
    font-size: 1.5rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}

.menu li:hover {
    background-color: rgb(71, 161, 48);
    border-radius: 10px;
}

.menu li {
    padding: 5px 14px;
}

.hamburger {
    display: none;
    font-size: 24px;
}

.product-image {
    width: 20%;
    border: solid grey;
}

@media (max-width:780px) {
    .menu {
        display: none;

        position: absolute;

        background-color: teal;

        right: 0;

        left: 0;

        text-align: center;

        padding: 16px 0;

    }

    .menu li:hover {

        display: block;

        background-color: #4c9e9e;

        transition: 0.3s ease;

    }

    input[type=checkbox]:checked~.menu {

        display: block;

    }

    .hamburger {

        display: block;

    }

    .product-grid-container {
        grid-template-columns: 1fr;
    }

    .prodcut-container .title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    .prodcut-info-container .price {
        font-size: 30px;
        font-style: italic;
    }

}

/* items styling*/

.product-grid-container {
    margin-top: 20px;
    max-width: 1700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

@media(max-width:1000px) {
    .product-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .prodcut-container .title {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .prodcut-info-container .price {
        font-style: italic;
        size: 7px;
    }

    .prodcut-container>.product-image {
        height: 200px;
        background-size: cover;
        background-position: center;
    }

}



.prodcut-container {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(184, 126, 126);
}


.prodcut-info-container .title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.prodcut-info-container .price {
    font-style: italic;
    font-size: 0px;
}

img {
    background-position: center;
    max-width: 100%;
    width: auto;
    background-size: cover;
    height: 200px;
}